
<h2>Your Ads</h2>

<% if @user.ads.all != nil %>
  <% @user.ads.all.each do |ad| %>
    <a href="/ads/<%= ad.id %>"<h3><%= ad.title %></h3></a>
      <p><%= ad.content %></p>
      <hr>
    <% end %>
<% end %>
