<h1>Create New Ad</h1>
  <form method="POST" action="/ads">
    <p><label>Title: </label><br>
      <input type="text" name="title" id="title"></p>
    <p><label>Content: </label><br>
      <textarea type="text" name="content" rows="10" cols="30" id="content"></textarea></p>
      <label>Section:</label><br>
    <% Section.all.each do |section| %>
      <input type="radio" name = "section" value="<%= section.id %>"> <%= section.name %><br>
    <% end %>
    <br><input type="submit" name="Create" value="Create" id="submit">
  </form>
