<h1>Create New Ad</h1>
  <form method="POST" action="/ads">
    <p>Title: <input type="text" name="title" id="title"></p>
    <p>Content: <input type="text" name="content" id="content"></p>
      <label>Section:</label><br>
    <% Section.all.each do |section| %>
      <input type="radio" name = "section" value="<%= section.id %>"> <%= section.name %><br>
    <% end %>
    <br><input type="submit" name="Create" value="Create" id="submit">
  </form>
