<h1>Fakelist Login</h1>
<form action="/login" method="POST">
  <lable>Username:</label>
  <input type="text" id="username" name="username">
  <br></br>
  <lable>Password:</label>
  <input type="password" id="password" name="password">
  <br></br>
  <input type="submit" value="Login" id="submit">
</form>
