<h1>Create New Fakelist User</h1>

<!-- Render signup form with masked password field -->
<form action="/signup" method="POST">
  <lable>Username:</label>
  <input type="text" required id="username" name="username">
  <br></br>
  <lable>Email:   </label>
  <input type="text" required id="email" name="email">
  <br></br>
  <lable>Password:</label>
  <input type="password" required id="password" name="password">
  <br></br>
  <input type="submit" value="Create New User">
</form>
