<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <header id="navbar">
      <% if logged_in? %>
        <h1>Welcome to Fakelist, <%= current_user.username %></h1>
        <a href="/logout" title="logout">Log Out</a>
        <a href="/ads" title="ads">Manage Ads</a>
        <a href="/ads/new" title="new">New Ad</a>
        <% if current_user.is_admin %>
          <a href="/admins" title='admins'>Admin Menu</a>
        <% end %>
      <% else %>
        <h1>Welcome to Fakelist</h1>
        <a href="/signup" title="signup">Sign Up</a>
        <a href="/login" title="login">Log In</a>
      <% end %>
      <a href="/" title="home">Home</a><br></br>
      <label>Or choose a section to browse:</label>
      <form method="post" action="/sections">
        <input list="sections" name="section">
        <datalist id="sections">
        <% Section.all.each do |section| %>
          <option value="<%= section.name %>">
        <% end %>
        </datalist>
        <input type="submit">
      </form>
      <hr>
    </header>
    <%= yield %>
  </body>

</html>

<style>
  body
  {
    width:80%;
    margin-left:auto;
    margin-right:auto;
  }

  #navbar {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left bottom, white, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top right, white, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top right, white, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top right, white , blue); /* Standard syntax */
  }
</style>
