<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <% if logged_in? %>
      <h1>Welcome to Fakelist, <%= current_user.username %></h1>
      <a href="/logout" title="logout">Log Out</a>
      <a href="/ads" title="ads">Manage Ads</a>
      <a href="/ads/new" title="new">New Ad</a>
    <% else %>
      <h1>Welcome to Fakelist</h1>
      <a href="/signup" title="signup">Sign Up</a>
      <a href="/login" title="login">Log In</a>
    <% end %>
    <a href="/" title="home">Home</a>
    <hr>
    <%= yield %>
  </body>

</html>
